/* --- Media Queries --- */

/* Portrait and Landscape */
@media (min-width: 320px) and (max-width: 480px) {
    .content-container {
        font-size: 1em;
    }

    h1 {
        font-size: 6em;
    }
    
    h2 {
        font-size: 3em;
    }
    
    h4 {
        font-size: 2em;
    }

    .main-header {
        overflow: visible;
    }

    .main-header .nav-toggle {
        display: block;
        flex-grow: 1;
        text-align: right;
        padding: 1em;
    }

    .main-header nav {
        display: none;    
    }

    .icon {
        width: 3em;
    }

    #ay-about {
        line-height: 1.5em;
    }

    #ay-about .content-container, .post {
        width: 75%;
    }

    #ay-projects .content-container {
        padding-top: 5em;
    }

    #ay-projects article {
        width: 90vw;
        margin: 5vw;
    }

    .main-header nav.expanded {
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        top: 5em;
        right: 0;
        width: 10em;
        height: auto;
        padding: 0;
        background-color: var(--color-primary-dark);
    }
    
    .expanded a {
        color: var(--color-primary);
    }
    
    .expanded li {
        width: 100%;
    }
    
    .expanded li:hover {
        background-color: var(--color-primary-medium);
    }

}

@media (min-width: 481px) and (max-width: 600px) {

    .content-container {
        font-size: 1em;
    }

    h1 {
        font-size: 8em;
    }

    h2 {
        font-size: 4em;
    }

    h4 {
        font-size: 2em;
    }

    #ay-about .content-container, .post {
        width: 75%;
    }
    
}