/* Global */
* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: var(--color-primary);
    font-family: var(--font-body);
}

html, body {
    width: 100%;
    height: 100%;
    color: var(--color-primary-medium);
}

/* Fonts */
@font-face {
    font-family: 'Tiger Walk';
    src: url('../fonts/TigerWalk.ttf');
}

@font-face {
    font-family: 'Uni Sans Thin';
    src: url('../fonts/UniSansDemo-ThinCAPS.otf');
}

@font-face {
    font-family: 'Uni Sans Heavy';
    src: url('../fonts/UniSansDemo-HeavyCAPS.otf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

/* Variables */
:root {
    /* Fonts */
    --font-display: 'Tiger Walk';
    --font-header: 'Uni Sans Thin';
    --font-body: 'Open Sans';

    /* Colors */
    --color-primary:  #ffbe9f;
    --color-primary-light: #d9594b;
    /* --color-primary-medium: #d22730; */
    --color-primary-medium: #c60c16;
    --color-primary-dark: #410c0e;
    --color-medium-dark-gradient: linear-gradient(var(--color-primary-light), var(--color-primary-medium));

    /* Sizes */
    --menu-height: 5em;
}


/* Generic Elements */
h1, h2, h3, h4 {
    padding: 0;
    font-family: var(--font-display);
    text-transform: uppercase;
}

h1 {
    font-size: 12em;
}

h2 {
    font-size: 6em;
}

h4 {
    font-size: 2em;
}

a, a:visited {
    font-family: var(--font-body);
    text-decoration: none;
    color: var(--color-primary-medium);
    text-transform: uppercase;
}

a:hover, a:target {
    color: var(--color-primary-dark);
}

p {
    margin-top: 1em;
}

canvas {
    position: absolute;
    top: 0;
    z-index: -1000;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    fill: var(--color-primary-medium);
    width: 5em;
    height: 5em;
    margin: 1em;
}

.icon:hover {
    fill: var(--color-primary-dark);
}

/* Containers */
.site-container, .section-container, .posts-container {
    min-width: 100%;
    height: 100%;
    overflow: hidden;
}

.site-container {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.section-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    scroll-snap-align: start;
}

.content-container {
    width: 75%;
    font-size: 1.1em;
}

.tags-container {
    text-align: center;
}

/* Header, Logo, Nav */
.main-header {
    display: flex;
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.main-header, .main-header > * {
    height: var(--menu-height);
}

.main-header > * {
    float:left; 
}

.main-header .logo {
    flex-basis: 5em;
    object-fit: cover;
    padding: 1em;
}

.main-header .logo svg {
    width: 100%;
    height: 100%;
    margin: 0;
}

.main-header nav {
    flex-grow: 1;
    padding-right: 1em;
    text-align: right;
}

.main-header .nav-toggle {
    display: none;
    height: 100%;
}

.main-header .nav-toggle svg {
    height: 100%;
    margin: 0;
    width: 2em;
}

.main-header nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.main-header nav li {
    list-style: none;
    padding: 1em;
}

/* Section-specific */
#ay-name h1, #ay-contact h2 {
    text-align: center;
    flex-basis: 100%;
}

#ay-name .content-container {
    display: flex;
    justify-content: center;
}

#ay-about {
    line-height: 2.5em;
}

#ay-about .content-container {
    width: 50%;
    max-height: 60%;
    overflow: hidden;
}

#ay-about .content-container p:first-of-type::first-line {
    font: 3em var(--font-display);
}

#ay-projects .content-container {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-top: var(--menu-height);
}

#ay-projects .posts-container {
    display: inline-flex;
    flex-direction: row-reverse; 
}

#ay-projects article {
    display: flex;
    flex-flow: column nowrap;
    scroll-snap-align: start;
    width: 20em;
    margin: 0em 1em 1em 0;

    background-color: var(--color-primary-medium);
    color: var(--color-primary);
    border-radius: 1em;
}

#ay-projects article:last-of-type {
    margin-left: 1em;
}

#ay-projects article:first-of-type {
    margin-right: 1em;
}

#ay-projects h4 {
    color: var(--color-primary-dark);
    text-align: center;
    padding: 0;
}

#ay-projects h4:hover {
    color: var(--color-primary);
}

#ay-projects .project-content {
    min-height: 50%;
    padding: 2em;
}

#ay-projects .project-content summary{
    padding: 0.5em 0;
    max-height: 50%;
    overflow: hidden;
}

#ay-projects .project-image {
    flex-grow: 1;
    overflow: hidden;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

#ay-projects .tags-container {
    padding: 1em;
}

.tag {
    display: inline-block;
    max-width: min-content;
    padding: 0.5em 1em 0.5em 1em;

    font: 0.75em var(--font-body);
    background-color: var(--color-primary-dark);
    color: var(--color-primary);
    border-radius: 2em;
    text-transform: uppercase;
}

#ay-contact .contact-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/* Posts */
.post-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: var(--menu-height) 1em 1em 1em;
    width: 100%;
    height: 100%;
}

.post {
    width: 50%;
}

.post p {
    /* text-indent: 2em; */
}

.post a {
    text-transform: none;
    color: var(--color-primary-dark);
}

.post a:hover {
    border-bottom: 3px solid var(--color-primary-medium);
}

.post-header {
    text-align: center;
    padding-bottom: 1em;
}

.post-header h1 {
    font-size: 5em;
}


